.homeContainer {
  height: 100%;
}
.homeContainer .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.homeContainer .content .card {
  width: 90%;
}
.homeContainer .content .card .cardContent {
  line-height: 1.5rem;
}
.homeContainer .content .card .cardContent .cardContentTitle {
  font-weight: 600;
  margin: 0.5rem 0;
}
.homeContainer .content .card .cardFooter {
  display: flex;
  gap: 20px;
}
