.homeContainer {
  height: 100%;
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .card {
      width: 90%;
      .cardContent {
        line-height: 1.5rem;
        .cardContentTitle {
          font-weight: 600;
          margin: .5rem 0;
        }
      }
      .cardFooter {
        display: flex;
        gap: 20px;
      }
    }
  }
}
